html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

/* Typography */

.header-title {
    font-family: "Roboto", sans-serif;
    font-size: 0.843rem;
}

ul {
    font-size: 0.75rem;
    font-weight: 600;
    list-style-type: none;
    text-transform: uppercase;
}

ul a {
    text-decoration: none;
    color: black;
}

.hero-date {
    font-size: 0.75rem;
}

.hero-section {
    color: white;
}

h1 a{
    font-size: 2rem;
    margin: 0.5em 0;
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

p {
    line-height: 1.5;
    margin-bottom: 2.5em;
}

.date {
    font-size: 0.875rem;
}

.view-more {
    color: black;
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

.view-more,
.recent-blogs-tag,
p {
    font-size: 1rem;
}

footer {
    font-size: 0.75rem;
    color: #ECECEC;
    text-align: center;
}
/* Layout home page */

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 23px;
    margin-right: 0.15em;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
}

li {
    margin-left: 1em;
}

.hero-section {
    background-image: url(images/article-image-hero.png);
    background-size: cover;
}

.hero-content {
    padding-top: 5em;
    padding-bottom: 1.5em;
}

.articles-list {
    margin-top: 2em;
    margin-bottom: 2em;
}

.article {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.image-article {
    width: 100%;
    margin-bottom: 0.8em;
}

footer {
    background-color: #202020;
    padding: 2.3em 0;
} 

/* Layout recent blog page*/

.recent-blog-content {
    padding-top: 2em;
    padding-bottom: 1.5em;
}

.recent-blog-content img {
    width: 100%;
}

.recent-blog-content h2 {
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 0.3em;
}

.recent-blog-content p {
    margin-bottom: 2em;
}

.recent-blogs-tag {
    display: block;
    text-align: center;
}

/* Layout about me page */

.about-me-section {
    margin-bottom: 3em;
}

.avatar {
    max-width: 182px;
}

.about-me-section h1 {
    font-size: 2.1rem;
}

/* Media queries */

@media (min-width: 768px){
    
    .container {
        max-width: 980px;
    }
    
    .hero-content {
        padding-top: 18em;
        padding-bottom: 1.5em;
    }
    
    .hero-date {
        font-size: 1rem;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    .recent-blog-content h1 {
        font-size: 2.25rem;
    }
    
    .hero-section p {
        max-width: 657px;
    }
    
    .about-me-section {
        display: flex;
        align-items: center;
    }
    
    .avatar {
        margin-right: 2em;
    }
    
    .articles-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        
    }
    
    .article {
        max-width: 300px;
    }
}

/* functional classes */

.bold {
    font-weight: bold;
}

